<div class="row">
  <div class="col-sm4 offset-md-4">
    <div class="card card-body">
      <form (submit)="edit ? updateMensaje() : submitMensaje()">
        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="mensaje.nick" class="form-control" placeholder="Nick" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="mensaje" [(ngModel)]="mensaje.mensaje" class="form-control"
            placeholder="Mensaje Descripcion">
        </div>
        <button class="btn btn-primary btn-block">Save</button>
      </form>
    </div>
  </div>
</div>
